<template>

    <div>
    <!-- This is for the images -->
    <p style="text-align: center">Best sellers</p>
      <v-carousel hide-delimiters="true">
        <v-carousel-item >
          <v-layout row>
            <v-flex 
              v-for= "card in cards"
              :key = "card.title"
              :src="cards.src">
              <v-card to="/about">
                <v-img
                :src = "card.src"
                height = "500"
                min-width = "10"
                > 
                </v-img>
              </v-card>
            </v-flex>
            
          </v-layout>
        </v-carousel-item>
        <v-carousel-item>
          <v-layout row>
            <v-flex  
              v-for= "card in cards2"
              :key = "card.title"
              :src="cards.src">
              <v-card to ="/about" >
                <v-img
                :src = "card.src"
                height = "700"
                min-width = "10"
                > 
                </v-img>
              </v-card>
            </v-flex>
            
          </v-layout>
        </v-carousel-item>
      </v-carousel>
      <v-layout>
          <v-flex lg4></v-flex>
          <v-flex lg4 text-xs-center>
            <v-btn to = "/about" large style="background-color:black">
              <span style="color: white">Shop now</span>
            </v-btn>
          </v-flex>
          <v-flex lg4></v-flex>
     </v-layout>
      <h1 style="text-align:center; margin-top: 2vw">New arrivals</h1>
      <v-layout row style="margin-top: 0.5vw">
            <v-flex 
              v-for= "card in newArrivals"
              :key = "card.title"
              :src="cards.src">
              <v-card to = "/about" >
                <v-img
                :src = "card.src"
                height = "700"
                
                > 
                </v-img>
              </v-card>
            </v-flex>
            
          </v-layout>

    <h1 style="text-align:center; margin-top: 2vw">Sale</h1>
      <v-layout row style="margin-top: 0.5vw">
            <v-flex 
              v-for= "card in sales"
              :key = "card.title"
              :src="cards.src">
              <v-card to ="/about">
                <v-img
                :src = "card.src"
                height = "500"
                
                > 
                </v-img>
              </v-card>
            </v-flex>
            
      </v-layout>
    </div>
    
</template>

<script>
    export default {
    data () {
      return {
        cards: [
          { 
            title: 'h',
            src: 'https://png.pngtree.com/element_origin_min_pic/16/09/21/2157e28735f11f9.jpg'
          },
          {
             title: 'i',
            src: 'http://dm.victoriassecret.com/product/760x1013/V376381.jpg'
          },
          {
             title: 'j',
            src: 'https://img.wondercostumes.com/products/14-3/girls-skeleton-bling-costume.jpg'
          },
          
        ],
        cards2: [
          { 
            title: 'h',
            src: 'https://img.wondercostumes.com/products/14-3/girls-skeleton-bling-costume.jpg'
          },
          {
             title: 'i',
            src: 'https://ae01.alicdn.com/kf/HTB1I3lbXynrK1RjSsziq6xptpXaX/PaMaBa-Deluxe-Girls-Christmas-Dress-Kid-Party-Wear-Frocks-Clothes-Lace-3-4-Sleeve-Floor-Length.jpg_q50.jpg'
          },
          {
             title: 'j',
            src: 'https://sc01.alicdn.com/kf/HTB1.ykiGVXXXXXYXVXXq6xXFXXXz/200311386/HTB1.ykiGVXXXXXYXVXXq6xXFXXXz.jpg'
          },
          
        ],
         newArrivals: [
          { 
            title: 'h',
            src: 'https://thumbs.dreamstime.com/z/young-handsome-guy-wearing-winter-clothes-8406903.jpg'
          },
          {
             title: 'i',
            src: 'https://assets.afcdn.com/story/20150204/what-to-wear-if-you-re-skinny-style-advice-for-skinny-girls-587538_w600h900.jpg'
          },
          {
             title: 'j',
            src: 'https://thumbs.dreamstime.com/z/teen-girl-wearing-black-polka-dot-dress-white-background-33012415.jpg'
          },
          
        ],

         sales: [
          { 
            title: 'h',
            src: 'http://nextluxury.com/wp-content/uploads/male-summer-outfits-styles-white-dress-shirt-navy-shorts.jpg'
          },
          {
             title: 'i',
            src: 'https://i.dmarge.com/2017/09/mens-summer-shirts-look.jpg'
          },
          {
             title: 'j',
            src: 'https://img.ltwebstatic.com/images2_pi/2018/07/31/1533020623719071549_thumbnail_600x799.jpg'
          },
          
        ]
      }
    }
  }
</script>

<style>
 p{
   font-size: 64px;
 }
</style>
