
<template>
<v-layout row >
<v-flex lg3 class="sign">
    <h3 style="text-align: center">SIGN IN</h3>
    <v-form>

    <v-text-field
      v-model="email"
      :error-messages="emailErrors"
      label="E-mail"
      box
      required
      @input="$v.email.$touch()"
      @blur="$v.email.$touch()"
    ></v-text-field>

     <v-text-field
        v-model="password"
        :append-icon="show1 ? 'visibility' : 'visibility_off'"
        :rules="[rules.required, rules.min]"
        :type="show1 ? 'text' : 'password'"
        name="input-10-1"
        label="password"
        box
        hint="At least 8 characters"
        counter
        @click:append="show1 = !show1"
    ></v-text-field>

          <v-btn block color="warning" dark @click="submit" style="margin-top:0.5vw">SIGN IN</v-btn>
    
    
  </v-form>
  </v-flex>

  <v-flex lg3 class="create">
    <h3 style="text-align: center;margin-bottom:1vw">NEW ACCOUNT</h3>
    <p>Create an account to take advantage of faster and easier shopping</p>
        <v-text-field
            label="Email address"
            v-model="email"
            :error-messages="emailErrors"
            @input="$v.email.$touch()"
            @blur="$v.email.$touch()"
            outline
          ></v-text-field>
          <v-btn block color="secondary" dark @click="submit" style="margin-top:0.5vw">CREATE AN ACCOUNT</v-btn>
    
  </v-flex>


  </v-layout>
</template>

<script>
export default {
    data () {
      return {
        show1: false,
        show2: true,
        show3: false,
        show4: false,
        password: '',
        rules: {
          required: value => !!value || 'Required.',
          min: v => v.length >= 8 || 'Min 8 characters',
          emailMatch: () => ('The email and password you entered don\'t match')
        }
      }
    }
  }

</script>

<style>
    .sign{
        margin-top: 15vw;
        margin-left: 20vw;
        margin-bottom: 10vw;
    }
    .create{
        margin-left: 10vw;
        margin-top: 15vw;
        margin-bottom: 10vw;
    }
    p{
        font-size: 14px;
    }
</style>
