<template>
<v-footer
    height="auto"
    color=""
  >
  <v-container text-xs-center >
    <v-layout >
      <v-flex lg4></v-flex>
      <v-flex lg4>
    <v-layout row>
      <v-flex>
        <h3>Company info</h3>
        <v-btn class="text-capitalize"
        v-for="link in links"
        :key="link"
        
        flat
        round
      >
        {{ link.name }}
      </v-btn >
      </v-flex>
       <v-flex>
         <h3>Help</h3>
        <v-btn class="text-capitalize"
        v-for="link in links"
        :key="link"
        
        flat
        round
      >
        {{ link.name }}
      </v-btn>
      </v-flex>
       <v-flex>
         <h3>Quick links</h3>
        <v-btn class="text-capitalize"
        v-for="link in links"
        :key="link"
        
        flat
        round
      
      >
      <!-- <router-link :to="link.value"> -->
        {{ link.name }}
        <!-- </router-link> -->
      </v-btn>
      </v-flex>
    </v-layout>
    </v-flex>
      <v-flex lg4></v-flex>
    
    </v-layout>
    
      <v-card-text>
        <v-btn
          v-for="icon in icons"
          :key="icon"
          class="mx-3 black--text"
          icon
        >
          <v-icon size="24px">{{ icon }}</v-icon>
        </v-btn>
      </v-card-text>
    
    
        &copy;2019  <strong>Kingsley INC</strong>
    
  </v-container>
</v-footer>
</template>
<script>
  export default {
    data: () => ({
      links: [
        {name: 'Home', value: '/home'},
        {name: 'About Us', value: "/about"},
        {name: 'Team', value: 'team'},
        {name: 'Services', value: 'services'},
        {name: 'Blog', value: 'blog'},
        {name: 'Contact us', value: 'About'},
        
      ],
       icons: [
        'fab fa-facebook',
        'fab fa-twitter',
        'fab fa-google-plus',
        'fab fa-linkedin',
        'fab fa-instagram'
      ]
    })
  }
</script>

<style>
  
</style>