<template>

   <v-toolbar dark>
     <v-btn flat to = "/">
    <v-toolbar-title style="color: white">Kingsley INC </v-toolbar-title>
    </v-btn>
    <v-toolbar-items class="hidden-sm-and-down" >
      <v-btn flat style="color: white">Men</v-btn>
      <v-btn flat style="color: white">Women</v-btn>
      <v-btn flat style="color: white">Accessories</v-btn>
    </v-toolbar-items>
    <v-flex xs12 sm6 md4>
        <v-text-field
         label="search product" 
         
         outline append-icon = "search">
        </v-text-field>
    </v-flex>
     <v-spacer></v-spacer>
    <v-btn flat to ="/sign_in">
        <v-icon depressed large style="color: white">contacts</v-icon>
        <span style="color: white">Sign in</span>
    </v-btn>
     <v-btn flat>
        <v-icon depressed style="color: white">shopping_carts</v-icon>
        <span style="color: white">Cart</span>
    </v-btn>
  </v-toolbar>
</template>